/*////////////// LOGIN STYLE ////////////// */
#root{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow: hidden;

}

.login-root{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    background-color: #003140;
}

.logo-div {
    background-color: #003140;
    height: auto;
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0px;
    padding-right: 300px;
}

.login-div {
    width: 560px;
    background-color: #003140;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: start;
    gap: 0px px;
    column-gap: 0px;
    justify-content: center;
    position: relative;
    row-gap: 10px;
    margin: 0px;
}

.middle-line {
    display: inline-block;
    position: absolute;
    bottom: 25px;
}

.login-logo {
    width: 850px;
    display: flex;
    margin-top: 100px;
}


.email {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 800;
}

.password {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 500;
}


.line {
    position: relative;
    border: 0px solid black;
    color: #FFFFFF;
    background-color: #FFFFFF;
    bottom: 20px;
}


.input {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid #FFFFFF;
    opacity: 0.6;
    font-size: 25px;
    width: 80%;
}

.sign-in {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 25px;
    right: 60px;
}

.button {
    border: 0px solid #FFFFFF;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    font-size: 25px;
}

.reg-forgot {
    display: grid;
    grid-auto-flow: row;
    position: relative;
    right: 60px;
    align-items: center;
    grid-template-rows: 0;
    gap: 15px;
    top: 35px;
}

.register {
    border: 0px solid #FFFFFF;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
    opacity: 0.6;
}

.forgot-password {
    border: 0px solid #FFFFFF;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
    opacity: 0.6;
}



/*////////////// TOP BAR STYLE ////////////// */
.root-top-bar {
    height: 142px; /* Standard topbar height */
    background-color: #003140; /* Dark blue color from your image */
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.root-top-bar img {
    /* Adjust the height of the logo and support icon as needed */
    font-size: 75px;
    width: 100px;

}

.Support-Logo{
    position: absolute;
    right: 30px;
}

.top-bar-logo {
    display: flex;
    align-items: center;
    height: 100px;
    margin: 0px 0px 0px 20px;
}

.top-bar-logo .Sales-text {
    /* Styling for the "SALES" text if it has specific requirements */
    color: #FFD700; /* Assuming it's a gold/yellow color, adjust as needed */
    font-size: 75px; /* Adjust as needed */
    font-weight: bold;
    margin-right: 5px; /* Adds a small space between "SALES" and "OPTIMA" */
}

.top-bar-logo .Optima-text {
    color: #ffffff; /* White color for text */
    font-size: 75px;
    font-weight: bold;
    margin: 0;
    line-height: 1;
}



/*////////////// SIDE BAR STYLE ////////////// */
.root-side-bar {
    height: 800px;
    width: 340px;
    background-color: #FFFFF8;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    align-items: start;
}

.icon {
    width: 40px;
    height: 40px;
}

.sidebar-button {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    position: relative;
    padding: 10px 0 10px 20px;
    margin: 0 0 45px 0;
    top: 30px;
    left: 50px;
    width: 250px;
    border: 0px solid black;
    border-radius: 15px;
    background-color: #C0C8CA;
}

.sidebar-button:last-child {
    margin-top: 150px;
}

.sidebar-button-text {
    text-align: start;
    font-weight: 500;
    margin-left: 30px;
    font-size: 15px;
}
