/*////////////// LOGIN STYLE ////////////// */
#root{
    font-family: 'Poppins', sans-serif;

}

.login-root {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    background-color: #003140;
    overflow: hidden; /* Add this line to hide the scrollbar */
}
.logo-div {
    background-color: #003140;
    height: 100%;
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-right: 300px;

}

.login-div {
    width: 560px;
    background-color: #003140;
    height: 1080px;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    position: relative;
    row-gap: 10px;
    overflow: hidden;
}

.middle-line {
    display: inline-block;
    position: absolute;
    bottom: 25px;
    overflow: hidden;
}

.login-logo {
    width: 850px;
    display: flex;
    margin-top: 100px;
    overflow: hidden;
}


.email {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 800;
}

.password {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 500;
}


.line {
    position: relative;
    border: 0px solid black;
    color: #ffffff66;
    background-color: #ffffff66;
    bottom: 20px;
}


.input {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid #FFFFFF;
    opacity: 0.6;
    font-size: 20px;
}

.sign-in {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 25px;
    right: 60px;
}

.button {
    border: 0px solid #FFFFFF;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    font-size: 25px;
}

.reg-forgot {
    display: grid;
    grid-auto-flow: row;
    position: relative;
    right: 60px;
    align-items: center;
    grid-template-rows: 0;
    gap: 0px;
    top: 35px;
}

.register {
    border: 0px solid #FFFFFF;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
    opacity: 0.6;
}

.forgot-password {
    border: 0px solid #FFFFFF;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
    opacity: 0.6;
    margin-top: 25px;
}

/*/////// REGISTER STYLE /////////*/
.logoreg-div {
    background-color: #003140;
    height: 100%;
    /* width: 560px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0px;
}

.login-reg-div {
    width: 560px;
    background-color: #003140;
    height: 1080px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: start;
    gap: 0px px;
    column-gap: 0px;
    justify-content: center;
    position: relative;
    row-gap: 10px;
    margin-left: 50px;
}

.forgotPassword-text {
    font-weight: 600;
    color: #FFFFFF;
    font-size: 60px;
    display: inline;
    position: relative;
    top: 50px;
}

.label {
    opacity: 0.7;
    font-weight: 200;
    font-size: 20px;
    /* height: 150px; */
}

.firstName {
    display: grid;
    color: #FFFFFF;
    grid-auto-flow: column;
}

.name {
    color: #FFFFFF;
    display: grid;
    grid-auto-flow: column;
    position: relative;
    top: 50px;
    margin-bottom: 50px;
    column-gap: 80px;
}



.first-last-name {
    width: 250px;
}

.email-reg {
    color: #FFFFFF;
    display: flex;
    position: relative;
    top: 50px;
    margin-bottom: 50px;
    column-gap: 80px;
}

.main-password {
    color: #FFFFFF;
    display: flex;
    position: relative;
    top: 50px;
    margin-bottom: 50px;
    column-gap: 100px;
}

.password {
    width: 250px;
}

.company {
    color: #FFFFFF;
    display: flex;
    position: relative;
    top: 50px;
    margin-bottom: 50px;
    column-gap: 100px;
}

.busi-certificate {
    color: #FFFFFF;
}

.certificate {
    color: #FFFFFF;
    display: flex;
    position: relative;
    top: 50px;
    margin-bottom: 50px;
    column-gap: 100px;
}

.file-upload {
    margin-left: 50px;
    font-size: 20px;
    font-weight: 200;
    opacity: 1;
}

.Terms-Condition {
    position: relative;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    width: 100%; /* Added to span the entire width */
    align-items: center; /* Added for vertical alignment */
    opacity: 1;
}

.text {
    font-size: 20px;
    padding-left: 10px;
    opacity: 0.7;
}

.checkbox {
    width: 20px;
    opacity: 1;
}


.next {
    position: absolute;
    left: 580px;
    bottom: 50px;
}

.phone-number {
    color: #FFFFFF;
    display: flex;
    position: relative;
    top: 50px;
    margin-bottom: 50px;
    column-gap: 100px;
}

/* Add the following styles to your existing CSS */

.email-reg,
.company,
.phone-number
{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px; /* Adjust the margin as needed */
}



.checkbox {
    margin-right: 10px; /* Adjust the margin as needed */
}

.next {
    position: absolute;
    left: 580px;
    bottom: 50px;
}

.main-password
.phone-number,
.email-reg,
.company,
.certificate {
    width: 100%; /* Span the entire width */
}

